// base.scss

            /************************ GLOBAL ************************/

* {
box-sizing: border-box;
}

body {
    @extend %body;
    @include linksColors-lvhaf($mine-shaft, $dove, $curius-blue, $kim, $mine-shaft); 
}

img {
    @extend %img-size;
}

h1,
h2,
h3 {
    @extend %heading;
}


ul,
ol {
   @extend %lists; 
}

         /************************ HOME PAGE ************************/



.studentDescript,
.mainContact {
    @include text($size: $one-four - .3em, $weight: 700, $l-height: 1.5, $l-space: 1px, $t-align: center);
    @include transition(all .6s ease);
    padding: 20px;
    border-radius: $br;
    &:hover {
        background-color: $white-smoke;
        color: $mine-shaft;
    }
}


#mainWrapper {
    max-width: 480px;
    background-color: $white-smoke;
    @include pad-mar(15px 25px, auto);
    @include media($brk-narrow) {
    max-width: #{$brk-narrow};
    }
    @include media($brk-wide) {
        max-width: #{$brk-wide};
          
    }
}

#portfolio {
    @extend %text-format;
    padding: 20px 0 20px;
    @include media($brk-narrow) {
            font-size: $one-four;
    }
}

#contact {
    @extend %text-format;
    @include media($brk-narrow) {
            font-size: $one-four;
    }
}

.mainContact {
    @extend %position;
    padding: 65px 20px;
    @include media($brk-narrow) {
            @include flexbox;
            @include flex-flow (nowrap column);
            @include justify-content (center);
            @include pad-mar(0 50px, auto);
            line-height: 2;
            max-width: $brk-wide - 1;
            height: 100vh;
            border-radius: $br - $br;
                p {
                    font-size: $one-four - .2em;
            }  
    }
        @include media($brk-wide) {
            @include justify-content(space-between);
            max-width: $brk-wide;
            @include pad-mar(60px 30px, auto);
            p {
                font-size: $one-four;
            }
    }  
}

.contactLinks {
    border-radius: $br * 2;
        li {
            margin: 15px;
    }
    @include media($brk-narrow) {
        font-size: $one-four;
        border-radius: $br - $br;        
    }
    @include media($brk-wide) {
            @include text($one-four, 700);
            background-color: $white-smoke;
            border-radius: $br;
            margin-bottom: 20px;
    }
}