//mixin Links ***************************************************************
//link https://gist.github.com/ricardozea/39e1f0fc85af04b42d41
@mixin linksColors-lvhaf($link, $visited, $hover, $active, $focus) {
	a { 
        transition:.2s;
        padding:1%;
        margin:-1%;
        text-decoration: none;
		&         { 
            color: $link; 
        }
		&:visited { 
            color: $visited; 
        }
		&:hover   { 
            color: $hover; 
            text-decoration: underline; 
        }
		&:active  { 
            color: $active; 
            outline: #ccc 0px dotted; 
        }
		&:focus   { 
            color: $focus; 
        }
	}
}


//Flexbox *****************************************************

@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}
@mixin inline-flex {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
@mixin flex-flow($values: (row nowrap)) {
	// No Webkit Box fallback.
	-webkit-flex-flow: $values;
	-moz-flex-flow: $values;
	-ms-flex-flow: $values;
	flex-flow: $values;
}
@mixin justify-content($value: flex-start) {
	@if $value == flex-start {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
	} @else if $value == flex-end {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
	} @else if $value == space-between {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
	} @else if $value == space-around {
		-ms-flex-pack: distribute;		
	} @else {
		-webkit-box-pack: $value;
		-ms-flex-pack: $value;
	}
	-webkit-justify-content: $value;
	-moz-justify-content: $value;
	justify-content: $value;
}
@mixin align-items($value: stretch) {
	@if $value == flex-start {
		-webkit-box-align: start;
		-ms-flex-align: start;
	} @else if $value == flex-end {
		-webkit-box-align: end;
		-ms-flex-align: end;
	} @else {
		-webkit-box-align: $value;
		-ms-flex-align: $value;
	}
	-webkit-align-items: $value;
	-moz-align-items: $value;
	align-items: $value;
}
@mixin flex-grow($int: 0) {
	-webkit-box-flex: $int;
	-webkit-flex-grow: $int;
	-moz-flex-grow: $int;
	-ms-flex-positive: $int;
	flex-grow: $int;
}



//Hover Items**********************************************************
@mixin hoverItems($back, $text) {
    background-color: lighten($back, 15%);
    color: $text;
}


//Box Shadow**********************************************************
@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: $horizontal $vertical $blur $color;
  -moz-box-shadow: $horizontal $vertical $blur $color;
  box-shadow: $horizontal $vertical $blur $color;
}


//Transition************************************************************
@mixin transition($trans...) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}


//Fonts**************************************************************
@mixin text($size: null, $weight: null, $color: null, $l-height: null, $l-space: null, $t-align: null) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $l-height;
    letter-spacing: $l-space;
    text-align: $t-align;
}


//Padding Margin*****************************************************************
@mixin pad-mar($padding, $margin) {
    padding: $padding;
    margin: $margin;
}


//Width height******************************************************************
@mixin width-height($min-width: null, $width: null, $max-width: null, $min-height: null, $height: null, $max-height: null) {
    min-width: $min-width;
    width: $width;
    max-width: $max-width;
    min-height: $min-height;
    height: $height;
    max-height: $max-height;
}

//Media Query*********************************************************************
@mixin media($media-width) {
  @media only screen and (min-width: $media-width) {
    @content;
  }
}