// placeholders.scss

//.mainContact #portfolioWrapper
%position {
    position: relative;
    height:100%;
    padding: 0;
    margin: auto;
}

//Body 
%body {
    background-color: $white-smoke;
    font-family: $stack-rale;
    color: $patina;
}

//Image default size
%img-size {
    max-width: 100%;
    height: auto;
}


//Headings Font h1 h2 h3
%heading {
    font-family: $stack-mont;
    @include text(24px, 700, $mine-shaft);
}

//Lists Ordered and Unordered
%lists {
    list-style: none;
    font-family: $stack-mont;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

//Text in #portfolio #contact .navItems 
%text-format {
    text-transform: uppercase;
    @include text(1em, 700);
    text-align: center;
    letter-spacing: -1px;
    @include media(768px) {
        font-size: $one-four; 
    }
}

