//Footer

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $white-smoke;
    margin: 0;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    border-top: solid thin lighten($mine-shaft, 20%);
    h1 {
        @include text(smaller, 700);
        padding: 10px;
    }
    a {
        @include text($font-size + 10, 700);
        padding: 6px 6px;
    }
    @include media($brk-narrow) {
        font-size: $one-four;
    } 
}

.footerNavMobile {
     a {
        @include text($font-size + 10, 700);
        @include pad-mar(6px, 0);
    }
    @include media($brk-narrow) {
        display: none;
    }
}

.footerNavTablet {
    display: none;
    @include media($brk-narrow) {
        display: block;
        text-transform: uppercase;
    }
}

.footerNav,
    .footerNav a {
        @include media($brk-narrow) {
        @include inline-flex;
        margin: 0 15px;
    }
}