//Header
#mainHeader {
    max-width: #{$brk-wide};
    margin: auto;
}
	
.slicknav_menu {
		display:block;
        margin-bottom: 15px;
   
    ul {
        margin: auto;
        
    }
    @include media($brk-narrow) {
        display: none;
}
	}

#mainNav {
    @include box-shadow(0 15px 10px -15px $patina);
    @include flexbox;
    @include flex-flow(column nowrap);
    @include align-items(center);
    display: none;
    @include media($brk-narrow) {
        display: block;
}
    @include media($brk-wide) {
        position: fixed;
        max-width: #{$brk-wide};
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 15px;
        @include flex-flow(row wrap);
        @include justify-content(space-between);
        background-color: $white-smoke;
        z-index: 999; 
    }
}

.navItems {
    @include flexbox;
    @include flex-flow(column wrap);
    @include align-items(center);
    @extend %text-format;
    margin: 0 auto 40px;
    
        li {
            
            a {
                color: lighten($patina, 40%);
                font-weight: 300;
            }
            width: 100%;
            margin: 5px 0;
            text-align: center;
            font-size: $one-four - .4em;
    }
    
        @include media($brk-narrow) {
            font-size: $one-four;
            @include flex-flow(row nowrap);
            @include justify-content(center);
            margin: 0;
                li {
                        @include linksColors-lvhaf($mine-shaft, $dove, $curius-blue, $kim, $mine-shaft); 
                    
                    width: auto;
                    @include pad-mar(0 12px 0, 0 0 0 10px);
                    background: none;
        }
    }
        @include media($brk-wide) {
            @include justify-content(flex-end);
            @include pad-mar(30px 0, 20px 0);
        }
}

.studentSection {
    max-width: 550px;
    @include pad-mar(0 25px, auto);
        @include media($brk-narrow) {
            max-width: #{$brk-narrow};
            @include flexbox;
            @include flex-flow(row-reverse nowrap);
            @include justify-content(flex-end);
            padding: 40px 0 10px;
        }
    @include media($brk-wide) {
            @include justify-content(space-between);
            @include align-items(center);
            @include pad-mar(90px 0 0 15px, 30px auto 0);
            max-width: #{$brk-wide};
    }
}

.studentDescript {
    max-width: 367px;
    @include pad-mar(2px, auto);
    @include text($one-four - .4em, $t-align: justify);
    @include media($brk-narrow) {
        @include text($one-four - .2em, $t-align: left);
        padding: 0 0 0 15px;
        }
    @include media($brk-wide) {
        font-size: $one-four;
        max-width: 70%;
        margin:  auto;
        margin-left: 0;
        padding-left: 0;
            p {
              @include pad-mar(0, 0);  
            }
    }
}

.studentName {
    display: none;
    margin-top: -10px;
    @include text($one-four, $t-align: center);
        a:hover {
        background: transparent;
    }
    @include media($brk-narrow) {
        @include text($one-four + .2em, $t-align: center);
        display: block;
        margin-top: 20px;
}
    @include media($brk-wide) {
        float: left;
        display: inline-flex;
        width: auto;
        @include pad-mar(0px 30px 0px 15px, 20px 20px 20px 0);
        a {
            font-size: $one-four + .4em;
            padding: 15px 0; 
        }
    }
}
.studentPic {
    display: block;
    @include pad-mar(0, auto);
    border: solid 2px darken($white-smoke, 15%);
        @include media($brk-narrow) {
            min-width: 380px;
            padding: 12px;
            border: none;
    }
    @include media($brk-wide) {
        max-width: 30%;
        @include pad-mar( 20px, auto auto 0);
    }
}

