//Header
#mainHeader {
    margin: 0 15px 50px;
}

#mainNav {
		display:none;
	}
	
.slicknav_menu {
		display:block;
        margin-bottom: 15px;
   
    ul {
        margin: auto;
        
    }
    @media #{$brk-narrow} {
        display: none;
}
	}


#mainNav {
    
    @extend %display-flexbox;
    @extend %flexflow-nowrap-column;
    @extend %align-items-center;
    @media #{$brk-narrow} {
        display: block;
}
    @media #{$brk-wide} {
        position: fixed;
        max-width: 1024px;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-left: 0;
        -webkit-flex-flow: wrap row;
        -ms-flex-flow: wrap row;
        flex-flow: wrap row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background-color: whitesmoke;
        z-index: 999; 
    }
}

.navItems {
    @extend %display-flexbox;
    @extend %flexflow-wrap-column;
    @extend %align-items-center;
    @extend %text-format;
    margin: 0 auto 40px;
        li {
            
    a {
        color: lighten($patina, 40%);
        font-weight: 300;
    }
            width: 100%;
            margin: 5px 0;
            text-align: center;
            font-size: 1em;
    }
    
        @media #{$brk-narrow} {
            font-size: 1.4em;
            -webkit-flex-flow: nowrap row;
            -ms-flex-flow: nowrap row;
            flex-flow: nowrap row;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin: 0;
                li {
                    width: auto;
                    @include pad-mar(0 12px 0, 0 0 0 10px);
                    background: none;
        }
    }
        @media #{$brk-wide} {
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            @include pad-mar(10px 0, 20px 0);
        }
}

.studentSection {
        @media #{$brk-narrow} {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: nowrap row-reverse;
            -ms-flex-flow: nowrap row-reverse;
            flex-flow: nowrap row-reverse;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            padding: 0;
        }
    @media #{$brk-wide} {
            -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -webkit-flex-flow: nowrap row-reverse;
            -ms-flex-flow: nowrap row-reverse;
            flex-flow: nowrap row-reverse;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            @include pad-mar(90px 0 0 15px, 30px auto 0);
            max-width: 1024px;
    }
}

.studentDescript {
    @media #{$brk-narrow} {
        @include text(1.3em, $t-align: left);
        padding: 0 0 0 15px;
    }
    @media #{$brk-wide} {
        font-size: 1.2em;
        max-width: 50%;
        margin:  auto;
        margin-left: 0;
        padding-left: 0;
        p {
          @include pad-mar(0, 0);  
        }
    }
}

.studentName {
    display: none;
    margin-top: -10px;
    text-align: center;
    font-size: 1.5em;
    a:hover {
    background: transparent;
}
    @media #{$brk-narrow} {
        display: block;
        margin-top: 20px;
}
    @media #{$brk-wide} {
        float: left;
        width: auto;
        @include pad-mar(10px 30px 10px 15px, 20px 20px 20px 0);
       
        a {
            font-size: 1.8em;
            padding: 10px; 
        }
        
    }
}



.studentPic {
    display: block;
    @include pad-mar(0, auto);
    border: solid 2px #ccc;
        @media #{$brk-narrow} {
            min-width: 380px;
            padding: 12px;
            border: none;
    }
    @media #{$brk-wide} {
        margin-right: 0;
        padding: 0 20px;
    }
}

