            /************************ GLOBAL ************************/

* {
box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    color: #669999;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
}


ul,
ol {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

#mainHeader {
    margin: 0 15px 50px;
}

#mainNav {
    
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-flex-flow: nowrap column;
    -ms-flex-flow: nowrap column;
    flex-flow: nowrap column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

  
    .mainContact,
    #portfolioWrapper {
        position: relative;
        height:100%;
        padding: 0;
        margin: auto;
        
    }

.navItems {
    
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-flex-flow: wrap column;
    -ms-flex-flow: wrap column;
    flex-flow: wrap column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto 40px;
}

.navItems li {
    background-color: white;
    width: 100%;
    margin: 5px 0;
    text-align: center;
    font-size: 1em;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    margin: 0;
    
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: solid thin darkgrey;
}

.footerNavTablet {
    display: none;
}

#footer h1,
#footer a {
    font-size: smaller;
    padding: 10px;
    font-weight: 700;
}

            /************************ LINKS ************************/

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: darkcyan;
    text-decoration: underline;
}


.contactLinks a {
    font-family: 'Raleway', sans-serif; 
}

.navItems a
 {
    display: block;
    padding: 12px;
    margin: 0;
}

.contactLinks a {
    padding: 12px;
    font-weight: 700;
}

.mainItems a:hover {
    text-decoration: none;
    color: whitesmoke;
}



            /************************ HOME PAGE ************************/


h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
}

.studentName {
    font-size: 1.5em;
}


.studentPic {
    display: block;
    padding: 0;
    margin: auto;
    border: solid 2px #ccc;
}

.studentDescript,
.mainContact {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 700;
    -webkit-transition: all .6s;
    transition: all .6s;
}

.studentDescript:hover, 
.mainContact:hover {
    background-color: whitesmoke;
    color: #333;
}


#mainWrapper {
    background-color: white;
    padding: 15px 25px;
}

#portfolio {
    padding: 20px 0 20px;
}

.mainContact {
    padding: 65px 20px;
}

.contactLinks {
    border-radius: 20px;
}

.contactLinks li {
    margin: 15px;
}


.item {
    text-align: center;
    line-height: 1.4;
    margin-top: 8px;
    padding: 10px;
    border-bottom: thin solid #669999;
    opacity: 1;
    -webkit-transition: all .4s;
    transition: all .4s;
}

/************************************* FUN WITH HovER *******************************************************/

.item:hover {
    opacity: 0.85;
    background-color: whitesmoke;
    color: #333;
}

.marketing:hover {
    background-color: #3399CC;
    
    color: whitesmoke;
}

.search:hover {
    background-color: #CC9933;
    color: whitesmoke;
}

.travel:hover {
    background-color: #336699;
    color: whitesmoke;
}

.favorites:hover {
    background-color: #66CCCC;
    color: whitesmoke;
}

.gallery:hover {
    background-color: #666699;
    color: whitesmoke;
}

.calculator:hover {
    background-color: #666666;
    color: whitesmoke;
}

.pf7:hover {
    background-color: #3399CC;
    color: whitesmoke;
}

.pf8:hover {
    background-color: #3399CC;
    color: whitesmoke;
}

.pf9:hover {
    background-color: #336699;
    color: whitesmoke;
}

.pf10:hover {
    background-color: #3399CC;
    color: whitesmoke;
}

.pf11:hover {
    background-color: #336699;
    color: whitesmoke;
}

.pf12:hover {
    background-color: #666699;
    color: whitesmoke;
}

.pf13:hover {
    background-color: #993366;
    color: whitesmoke;
}

.pf14:hover {
    background-color: #993366;
    color: whitesmoke;
}

.pf15:hover {
    background-color: #3399CC;
    color: whitesmoke;
}






            /************************ SECTIONS ID'S ************************/

#portfolio,
#contact,
.navItems {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    letter-spacing: -1px;
}


            /************************ PORTFOLIO PAGE ************************/
#portfolioWrapper {
    padding: 0 15px 90px;
    
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-flex-flow: nowrap column;
    -ms-flex-flow: nowrap column;
    flex-flow: nowrap column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    background: darkgrey;
}

.portfolioChallenge,
.portfolioItem p,
#portfolioWrapper h2 {
    background: white;
    color: darkslategrey;
    padding: 15px;
    margin: 10px 0 0;
    font-weight:bold;
    border-radius: 8px;
}

.portfolioItem {
    border-radius: 8px;
}



            /************************ MEDIA QUERY ************************/

@media only screen and (min-width: 768px) {
   
    
    
    .navItems {
        
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
        
    display: -webkit-box;
        
    display: -ms-flexbox;
        
    display: flex;
    -webkit-flex-flow: nowrap row;
    -ms-flex-flow: nowrap row;
    flex-flow: nowrap row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
        margin: 0;
}
    .navItems li {
        width: auto;
        margin: 0 10px;
        padding: 0 12px;
        background: none;
    }
    
    .studentSection {
        
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        
        display: -webkit-box;
        
        display: -ms-flexbox;
        
        display: flex;
        -webkit-flex-flow: nowrap row-reverse;
        -ms-flex-flow: nowrap row-reverse;
        flex-flow: nowrap row-reverse;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 0;
    }
    
    .studentDescript {
        font-size: 1.3em;
        text-align: left;
        padding: 0 0 0 15px;
    }
    
    .studentPic {
        min-width: 380px;
        padding: 12px;
        border: none;
    }
    
    .mainItems {
        
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-flex-flow: wrap row;
        -ms-flex-flow: wrap row;
        flex-flow: wrap row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between; 
    }
    
    .item {
        width: 50%;
        font-size: 1em;
        font-weight: lighter;
    }
    
    #portfolio,
    #contact,
    .navItems {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.4em;
        text-align: center;
        letter-spacing: -1px;
    }
    
    .mainContact {
        line-height: 2;
        
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 1280px;
        padding: 0 50px;
        margin: auto;
        height: 100vh;
        border-radius: 0;
    }
    
    .mainContact p {
        font-size: 1.2em;
    }
    
    .contactLinks {
        font-size: 1.4em;
        border-radius: 0;
    }
    
    #footer {
        font-size: 1.3em;
        
    }
    
    .footerNavMobile {
        display: none;
    }
    
    .footerNavTablet {
        display: block;
        text-transform: uppercase;
    }
    
    .footerNav,
    .footerNav a {
        display:-webkit-inline-box;
        display:-webkit-inline-flex;
        display:-ms-inline-flexbox;
        display:inline-flex;
        margin: 0 15px;
    }
    
    
            /************************ PORTFOLIO PAGE ************************/
    
    #portfolioWrapper {
        padding: 0 0 90px;
        min-width: 768px; 
    }
    
    #portfolioWrapper h2 {
        width: 100%;
        margin: 0 0 10px;
    }
    
    .portfolioItems {
        
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-flex-flow: wrap row;
        -ms-flex-flow: wrap row;
        flex-flow: wrap row;
        margin:auto;
        padding: 0;
    }
    
    .portfolioItem {
        margin: 5px;
        
    }
    
    .portfolioItems .marketing {
        padding: 0;
        margin: auto;
    }
    
    .challengeContent {
        
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-flex-flow: wrap row;
        -ms-flex-flow: wrap row;
        flex-flow: wrap row;
    }
    
    .portfolioChallenge {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin: 5px;
        padding: 5px;
    }
    
    

} /* END @MIN-WIDTH 768*/


@media only screen and (min-width: 1024px) {
    
    
    
    #mainNav {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
        
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
        
        display: -webkit-box;
        
        display: -ms-flexbox;
        
        display: flex;
        -webkit-flex-flow: nowrap row;
        -ms-flex-flow: nowrap row;
        flex-flow: nowrap row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background-color: whitesmoke;
        z-index: 999;
    }
    
    .studentName {
        width: 100%;
        padding-left: 30px;
    }
    
    .studentName a {
        font-size: 1.8em;
        padding: 10px;
    }
    
    .navItems {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 10px;
        margin: 20px;
    }
    
    #mainWrapper {
        max-width: 1024px;
        margin: auto;
    }
    
    
    .studentSection {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-flex-flow: nowrap row-reverse;
        -ms-flex-flow: nowrap row-reverse;
        flex-flow: nowrap row-reverse;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        margin: 30px auto 0;
        padding: 90px 0 0;
        max-width: 1024px;
    }
    
    .studentDescript {
        font-size: 1.2em;
        max-width: 50%;
        padding: 0;
    }
    
    .studentDescript p {
        padding: 0;
        margin: 0;
    }
    
    .studentPic {
        margin-right: 0;
        padding: 0;
    }
    
    
    .item {
        width: 30%;
        padding: 30px 0 ;
    }
    
    .mainContact {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 1024px;
        padding: 60px 30px;
        margin: auto;
        
    }
    
    
    .contactLinks{
        font-size: 1.5em;
        font-weight: 700;
        background-color: white;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    
    .mainContact p {
        font-size: 1.5em;
    }
    
                /************************ PORTFOLIO PAGE ************************/
    
    #portfolioWrapper {
        max-width: 1290px;
        padding: 110px 0;
        background-color: whitesmoke;
    }
    
    #portfolioWrapper h2 {
        width: 100%;
        margin:0;
    }
    
    .portfolioItems .marketing {
        padding: 20px;
        margin: auto;
    }
    
    .portfolioItems {
        -webkit-flex-flow: wrap row;
        -ms-flex-flow: wrap row;
        flex-flow: wrap row;
        padding: 0 ;
        margin: auto;
        text-align: left;
        line-height: 1.8;
        font-size: 1.10em;
        letter-spacing: 1.3px;
    }
    
} /* END @MIN-WIDTH1024 */


