//Portfolio 

/************************ PORTFOLIO PAGE ************************/

#portfolioWrapper {
    padding: 0 15px 90px;
    @extend %position;
    @include flexbox;
    @include flex-flow(column nowrap);
    @include justify-content(center);
    @include text($t-align: center);
    background-color: darken($white-smoke, 40%);
    h2 {
        background-color: $white-smoke;
        color: $patina;
        @include pad-mar(15px, 10px 0 0);
        font-weight:bold;
        border-radius: $br;
    }
    @include media($brk-narrow) {
        padding: 0 0 90px;
        min-width: #{$brk-narrow};
        h2 {
            width: 100%;
            margin: 0 0 10px;
        }
    }
    @include media($brk-wide) {
        max-width: #{$brk-wide};
        padding: 110px 0;
        background-color: $white-smoke;
        h2 {
            width: 100%;
            @include pad-mar(10px, 20px 0 0);
        }
    }
}

.portfolioItems {
    @include media($brk-narrow) {
        @include flexbox;
        @include flex-flow(row wrap);
        @include pad-mar(0, auto);
    }
    @include media($brk-wide) {
        @include pad-mar(20px, auto);
        @include flex-flow(row wrap);
        @include pad-mar(0, auto);
        @include text(1.10em, inherit, inherit, 1.8, 1.3px, left);
    }
}

.portfolioChallenge {
    background: $white-smoke;
    color: $patina;
    @include pad-mar(15px, 10px 0 0);
    font-weight:bold;
    border-radius: $br;
    @include media($brk-narrow) {
        @include flex-grow(1);
        @include pad-mar(5px, 5px);
    }
}

.portfolioItem {
    border-radius: $br;
        p {
            background: $white-smoke;
            color: $patina;
            @include pad-mar(15px, 10px 0 0);
            font-weight:bold;
            border-radius: $br;
        }
    @include media($brk-narrow) {
        margin: 5px;
    }
}

.challengeContent {
    @include media($brk-narrow) {
        @include flexbox;
        @include flex-flow(row wrap);
    }
}